
input{
  color:blue;
  background-color: whitesmoke;
 color: black;
}
.App{
  color:brown;
}
table {
  width: 100%;
  border-collapse: dark;
  margin-top: 4rem;

}

th,
td {
  border: 1px solid rgb(82, 8, 8);
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #04aa6d;
  color: #fff;
}
h1{
  border: 5px solid black;
  border-style: double;
}